.cv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cvEditor
{
    display: flex;
    flex-direction: column;
}

.cvPaper
{
    padding: 1.5rem 2rem;
    border: solid;
    width: 40rem;
    height: 70rem;
    overflow: auto;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
input 
{
    height: 1rem;
    margin-left: 0.5rem;
}

.workExperience
{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .cv
    {
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }
}